<% layout('layout/boilerplate') %> 
    <!--changed in  client side error validations -->
<!-- we have novalidated the form so bootstrap can validate form
instead of the broswer and writen required, valided-form is the name
of the class which we will also write in boilerplate in js code 
copied from the boostrap validation form-->

<div class="row">

<h1 class="text-center">New Campground</h1> <!--added enctype in multilier middleware @ part 54 ,add multiple in end -->
<div class="col-md-6 offset-md-3" >
    <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data" >  

        <div class="mb-3" >
        <label  class="form-label" for="title">Title</label>
        <input type="text"  class="form-control" id="title" name="campground[title]"  required  >
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>
   
        <div class="mb-3" >
             <label  class="form-label" for="location">Location</label>
            <input type="text" class="form-control"   id="location" name="campground[location]"  required  >
            <div class="valid-feedback">
                Looks good!
              </div>
                </div>
                <!--added input in multilier middleware @ part 54 ,add multiple in end -->
                <!-- <input type="file" name="image"  id="" multiple>  -->

                <!--commented out in cutomizing file input lec @part 54-->
                <!-- <input type="file" name="image"  id="" multiple> -->

                <!-- div class="mb-3" >
                 <label  class="form-label" for="image">Image Url</label>
                   <input type="text" class="form-control"   id="iamge" name="campground[image]" required   >
                   <div class="valid-feedback">
                    Looks good!
                  </div>
                       </div> --->
                              <!--add price after image -->
               
                              <div class="class mb-3">
                        <label  class="form-label" for="price"> Campground Price</label>
                       <div class="input-group mb-3"> 
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price-label" aria-describedby="price-label" name="campground[price]" required>
                        
                      </div>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                       <div class="mb-3" >
                        <label  class="form-label" for="description">Description</label>
                       <textarea type="text" class="form-control"   id="description" name="campground[description]" required ></textarea>
                       <div class="valid-feedback">
                        Looks good!
                      </div>
                           </div>

                           <!--added in cutomizing file input lec at part54 -->
                           <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" id="image" name="image" multiple>
                                <label class="form-file-label" for="image">
                                    <span class="form-file-text custom-file-label">Choose image(s)...</span>
                                    <span class="form-file-button">Browse</span>
                                </label>
                            </div>
                        </div>

                <div class="mb-3" >
            <button class="btn btn-success" > Add Campground </button>
        </div> 
        </form>
            
        <a href="/campgrounds"> Back to all Campgrounds </a>
        
</div>



</div>



