
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCamp </title>
</head>
<body class="d-flex flex-column vh-100 "> <!--d flex vh add in footerlec-->
  <!-- CSS only--added in bootstrap 5 lec this boostrap 5.02 added via cdn-->
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    


<!--added in displaying a map lec @pt 55-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js ' crossorigin=></script> <!--added in cross orgin at content policy fun lec @pt 57-->
<link href='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css'  rel='stylesheet' crossorigin  />

<!--added in removing inline map styles lec @pt 57-->
<link rel="stylesheet" href="/stylesheets/app.css">


<!--added in bootstrap 5 lec-- mt added and includes navbar lec--->
<!--first make navbar here than post it in views-partials-nav.ejs-->
<%- include('../partials/navbar') %> 
<main class="conatiner" mt-3 >
<!----=success%> --added success in setting up flash lec , part49-->
<%- include('../partials/flash') %> 
<%- body %> 
</main>
<!---add in footer lec-->
<%- include('../partials/footer') %> 
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


<!--changed in serving static files lec of part 49,sent validated form
to routes/validatedForms.js-->

<!--script src="/hello.js"></script>--->

 <!--- <script src="/validateForms.js"></script>--1-->

 <!--added in customozing file input lec at part 54-->
 <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>


 <!--2-->
<script src="/javascript/validateForms.js"></script>


</body>
</html>